<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<!-- sql dialect, language -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- database information -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<property name="connection.pool_size">1</property>
		
		<!-- Disable the second level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!-- echo all executed sql to stdout  -->
		<property name="show_sql">true</property>
		
		<!-- Drop and recreate the database schema on startup  -->
		<property name="hbm2ddl.auto">create</property>
		<!-- <property name="hbm2ddl.auto">update</property> -->
		
		<!-- Names the annotated entity class -->
		<mapping class="com.hib.test2.Vehicle"/>
		<mapping class="com.hib.test2.TwoWheeler"/>
		<mapping class="com.hib.test2.FourWheeler"/>
	</session-factory>
</hibernate-configuration>